<div class="col-sm-12">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <p class='navbar-brand'>All Rights Reserved</p>
      </div>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "About Us", about_path, :class=>'navbar-brand' %>
          </li>
          <li>
            <%= link_to "Terms", '#', :class=>'navbar-brand' %>
          </li>
        </ul>
    </div><!-- /.container-fluid -->
  </nav>
</div>
