  <!-- Footer -->

  <!-- Copyright area -->
  <div class="pi-section-w pi-border-top-light pi-border-bottom-strong-base footer-dark">
    <div class="pi-section pi-row-lg pi-center-text-2xs pi-clearfix">

      <!-- Social icons -->
      <div class="pi-row-block pi-pull-right pi-hidden-2xs">
        <ul class="pi-social-icons-simple pi-small clearFix">
          <li><a href="#" class="pi-social-icon-mail"><i class="icon-mail"></i></a></li>
          <li><a href="#" class="pi-social-icon-weibo"><i class="icon-weibo"></i></a></li>
          <li><a href="#" class="pi-social-icon-renren"><i class="icon-renren"></i></a></li>
          <li><a href="#" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
        </ul>
      </div>
      <!-- End social icons -->

      <!-- Footer logo -->
      <div class="pi-row-block pi-row-block-logo pi-row-block-bordered"><a href="#"><img src="" alt=""></a></div>
      <!-- End footer logo -->
      <!-- Text -->
      <span class="pi-row-block pi-row-block-txt pi-hidden-xs">
        MoorGoo.com 2014. All Rights Reserved.
      </span>
      <!-- End text -->

    </div>
  </div>
  <!-- End copyright area -->
  <!-- End footer -->
