<div id="footer1">
	<div class="myWrapper row">
		<div class="col-xs-12 col-sm-2 col-lg-2">
			<div id="ls-Footer-Tag">
				<%= image_tag("mushroom.png", :alt => "Logo") %>
				<span>&copy; 2014 MoorGoo.com</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm-2 col-lg-2">
			<nav class="footerLinks">
				<ul>
					<li class="navHead">Navigation</li>
					<li><%= link_to "UCSD Book", school_path(@school.name), :class=>"scrollPage" %></li>
					<li><a class="scrollPage" href="/#Portfolio">Moorgoo Tutor</a></li>
				</ul>
			</nav>
		</div>
		<div class="col-xs-12 col-sm-2 col-lg-2">
			<nav class="footerLinks">
				<ul>
					<li class="navHead">Legal Stuff</li>
					<li><a class="scrollPage" href="/tos">Terms of service</a></li>
				</ul>
			</nav>
		</div>
		<div class="col-xs-12 col-sm-2 col-lg-2">
			<nav class="footerLinks">
				<ul>
					<li class="navHead">About Us</li>
					<li><%= link_to "The Team", about_path, :class=>"scrollPage" %></li>
					<li><a class="scrollPage" href="#">Contact us</a></li>
					<li><a class="scrollPage" target="_blank" href="#">FAQs</a></li>
				</ul>
			</nav>
		</div>
		<div class="col-xs-12 col-sm-2 col-lg-2">
			<nav class="footerLinks">
				<ul>
					<li class="navHead">Follow us</li>
					<li><a class="scrollPage" target="_blank" href="https://www.facebook.com/moorgoo">Facebook</a></li>
					<li><a class="scrollPage" href="/wechat">WeChat</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>