<div align="center">
  <%= form_tag( books_path, :method=>'get', :class=>'form-horizontal', :id=>'isbnForm') do %>
    <div class="form-group shadowed-form-pane">
      <h2 class="header_above_form">MoorGoo</h2>
      <%= text_field_tag :search, nil, :placeholder=>'bookname/classcode/ISBN', :class=>'form-control index-book-search form_input_field', :id=>"bookname" %>
      <i class="glyphicon glyphicon-search book-search-icon"></i>
    </div>
  <% end %>
</div>