<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,800,700italic,700,600italic,600,400italic,300italic,300|Roboto:100,300,400,500,700|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400&amp;subset=latin,latin-ext" type="text/css">

<link rel="stylesheet" id="stylesheet-css" href="http://www.braincorporation.com/wp-content/themes/satellite/css/stylesheet.min.css?ver=3.9.1" type="text/css" media="all">

<div class="parallax_content center">
  <div style="margin-top:20px;margin-bottom:40px;" class="separator transparent"></div>
  <div class="element_from_left element_from_left_on">
  	<div>
  	  <p style="text-align: center;">
  	    <span class="custom_font_holder" style="font-family: Raleway; font-size: 56px; line-height: 56px; font-weight: 100; color: #666666; padding: 0px; margin: 0px;"> About Us</span>
      </p>
    </div>
  </div>
  <div style="margin-top:10px;margin-bottom:10px;" class="separator transparent"></div>
  <div class="element_from_right element_from_right_on">
  	<div>
      <p style="text-align: center; color: #666666;">Our experienced team is continuously innovating on our adaptive intelligence platform, unlocking the value of autonomy in robotics, and building our relationships with various professional partners, assuring successes in the immediate future and beyond.</p>
    </div>
  </div>
  <div style="margin-top:20px;margin-bottom:20px;" class="separator transparent"></div>
  <div class="tabs ">
  	<ul class="tabs-nav">
  		<li class="active">
  			<a href="#tabid1" data-toggle="tab">Our Team</a>
  		</li>
  		<li class="">
  			<a href="#tabid2" data-toggle="tab">Contact Info</a>
  		</li>
  	</ul>
  	<div class="tabs-container tab-content">
      <div id="tabid1" class="tab-pane fade in active">
        <div class="four_columns clearfix">
        	<div class="column1">
        		<div class="column_inner">
              <div style="margin-top:5px;margin-bottom:5px;" class="separator transparent"></div>
              <h5>
              	<span style="color: #ed8000;">Tao, Jacob</span>
              </h5>
              <p style="text-align: left; color: #666666;"><b>Watashiwa yamede gozaimasi</b></p>
              <p style="text-align: left; color: #666666;">Jacob Tao is the greatest man ever in the Middle Earth</p>
              <div style="margin-top:5px;margin-bottom:5px;" class="separator transparent"></div>
              <p style="text-align: left;">
              	<a href="http://www.braincorporation.com/wp-content/dr-eugene-m-izhikevich/" target="_self" class="button tiny" style="">Read more
              	</a>
              </p>
            </div>
          </div>
          <div class="column2">
            <div class="column_inner">
              <div style="margin-top:5px;margin-bottom:5px;" class="separator transparent"></div>
              <h5>
                <span style="color: #ed8000;">Chen, Sponge</span>
              </h5>
              <p style="text-align: left; color: #666666;"><b>The Fattest Guy in the World</b></p>
              <p style="text-align: left; color: #666666;">I Love Deadbeef</p>
              <div style="margin-top:5px;margin-bottom:5px;" class="separator transparent"></div>
              <p style="text-align: left;">
                <a href="http://www.braincorporation.com/wp-content/dr-allen-gruber/" target="_self" class="button tiny  " style="">Read more
                </a>
              </p>
            </div>
          </div>
          <div class="column3">
            <div class="column_inner">
              <div style="margin-top:5px;margin-bottom:5px;" class="separator transparent"></div>
              <h5>
                <span style="color: #ed8000;">Gao, Shumin</span>
              </h5>
              <p style="text-align: left; color: #666666;"><b>King of His Girl</b></p>
              <p style="text-align: left; color: #666666;">Shumin Gao is the only Cantonese that has a girlfriend</p>
              <div style="margin-top:5px;margin-bottom:5px;" class="separator transparent"></div>
              <p style="text-align: left;">
                <a href="http://www.braincorporation.com/wp-content/dr-allen-gruber/" target="_self" class="button tiny  " style="">Read more
                </a>
              </p>
            </div>
          </div>
          <div class="column4">
            <div class="column_inner">
              <div style="margin-top:5px;margin-bottom:5px;" class="separator transparent"></div>
              <h5>
                <span style="color: #ed8000;">Li, Si</span>
              </h5>
              <p style="text-align: left; color: #666666;"><b>King of Girls</b></p>
              <p style="text-align: left; color: #666666;">Si Li is regarded as the best women player in UCSD. He had about 1*10^3 ex's.</p>
              <div style="margin-top:5px;margin-bottom:5px;" class="separator transparent"></div>
              <p style="text-align: left;">
                <a href="http://www.braincorporation.com/wp-content/dr-allen-gruber/" target="_self" class="button tiny  " style="">Read more
                </a>
              </p>
            </div>
          </div>
        </div>
        <div style="margin-top:10px;margin-bottom:10px;" class="separator transparent"></div>
      </div>
      <div id="tabid2" class="tab-content tab-pane fade in">
        <div style="padding:50px">
          <p style="text-align: center; color: #666666">Email: xxxxxx@xxxxxxx.com</p>
          <p style="text-align: center; color: #666666">Phone: (888)888-8888</p>
        </div>
      <div style="margin-top:5px;margin-bottom:5px;" class="separator transparent"></div>
		</div>
	</div>
</div>
</div>