<div class="row">
  <div class="first-screen container-fliud">
    <div class="center-row">
      <img class="first-screen-icon" src="assets/mushroom.png"/>
      <p class="first-screen-intro-1">Welcome to MoorGoo.com</p>
      <h3 class="first-screen-intro-2">Trade your textbooks and cars here</h3>
      <a align="center" class="first-screen-button" id="startButton" href="#thumbs">
        Start Your Trade
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-offset-3 col-sm-6 category-dialogue">
    <h2 align="center">What would you like to trade?</h2>
    <div align="center" class="row">
      <div class="col-xs-offset-1 col-xs-4 col-sm-offset-1 col-sm-4">
        <%= link_to school_path(@school.name) do %>
        <img class="img-responsive category-icon" src="/assets/book_close.png"/>
        <% end %>
        <label class="category-icon-label">Books</label>
      </div>
      <div class="col-xs-offset-2 col-xs-4 col-sm-offset-2 col-sm-4">
        <a href="index"><img class="img-responsive category-icon" src="/assets/wheelchair.png"/></a>
        <label class="category-icon-label">Cars</label>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="thumbs" id="thumbs">
    <div class="col-xs-12 col-sm-6 col-lg-6 thumb active-thumb">
      <div class="active-campus-img-overlay"></div>
      <img class="img-responsive active-campus-img" src="/assets/ucsd.jpg"/>
      <span class="active-thumb-span animated fadeInDown">UC San Diego</span>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-6 thumb">
      <div class="inactive-campus-img-overlay"></div>
      <img class="img-responsive inactive-campus-img" src="/assets/ucla.jpg"/>
      <span class="inactive-thumb-span-banner animated fadeInDown">Coming Soon</span>
      <span class="inactive-thumb-span animated fadeInDown">UC Los Angeles</span>
    </div> 
    <div class="col-xs-12 col-sm-6 col-lg-6 thumb">
      <div class="inactive-campus-img-overlay"></div>
      <img class="img-responsive inactive-campus-img" src="/assets/uci.jpg"/>
      <span class="inactive-thumb-span-banner animated fadeInDown">Coming Soon</span>
      <span class="inactive-thumb-span animated fadeInDown">UC Irvine</span>
    </div>  
    <div class="col-xs-12 col-sm-6 col-lg-6 thumb">
      <div class="inactive-campus-img-overlay"></div>
      <img class="img-responsive inactive-campus-img" src="/assets/sdsu.jpg"/>
      <span class="inactive-thumb-span-banner animated fadeInDown">Coming Soon</span>
      <span class="inactive-thumb-span animated fadeInDown">SDSU</span>
    </div>
  </div>
</div>
