<img src="assets/video_cover/chem140a_wi15.png" style="width:0px; height:0px; overflow:hidden;">
<div class="video-container pi-section-w pi-shadow-inside pi-section-grey">
  <h2 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-text-center pi-margin-bottom-15">
    Chem 140A Chapter 5 - 7 - Winter 2015
  </h2>

<iframe width="853" height="480" src="https://www.youtube.com/embed/9Qd2cpoM4Zg" frameborder="0" allowfullscreen class="video-iframe"></iframe>
  <div class="video-text-container">
    <div class="video-text-title lead-24">
      Chem 140A Chapter 5 - 7 - Winter 2015
    </div>
    <div class="video-text-desc lead-16">
      <b>Tutor: </b>顾伯卿<br/>
      <b>Content: </b>
    </div>
  </div>
</div>