<img src="assets/video_cover/chem6b_wi15.png" style="width:0px; height:0px; overflow:hidden;">
<div class="video-container pi-section-w pi-shadow-inside pi-section-grey">
  <h2 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-text-center pi-margin-bottom-15">
    Chem 6B Quiz 1 - Winter 2015
  </h2>

<iframe width="640" height="360" src="//www.youtube.com/embed/MyugEM5kqoY" frameborder="0" allowfullscreen class="video-iframe"></iframe>
  <div class="video-text-container">
    <div class="video-text-title lead-24">
      Chem 6B Quiz 1 - Winter 2015
    </div>
    <div class="video-text-desc lead-16">
      <b>Tutor: </b>蒋晟立<br/>
      <b>Content: </b>祝大家今晚考试顺利！
    </div>
  </div>
</div>