<div class="video-container pi-section-w pi-shadow-inside pi-section-grey">
  <h2 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-text-center pi-margin-bottom-15">
    CSE 11 Quiz 2 - Fall 2014
  </h2>

  <iframe width="640" height="360" src="//www.youtube.com/embed/epsPY5FWq7s" frameborder="0" allowfullscreen></iframe>
  <div class="video-text-container">
    <div class="video-text-title lead-24">
      CSE 11 Quiz 2 - Fall 2014
    </div>
    <div class="video-text-desc lead-16">
      <b>Tutor: </b>李雪阳<br/>
      <b>Content: </b>1. 数学与逻辑运算的顺序。2. De Morgan's Law 3. ＝＝ 和 equals() 的区别 4. local variables. Quiz2 link: http://cseweb.ucsd.edu/~ricko/CSE11/Quiz2.fa13.pdf
    </div>
  </div>
</div>