<div class="video-container pi-section-w pi-shadow-inside pi-section-grey">
  <h2 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-text-center pi-margin-bottom-15">
    Econ 4 Video 1 - Fall 2014
  </h2>

  <iframe width="640" height="360" src="//www.youtube.com/embed/OleHnPjQHrE" frameborder="0" allowfullscreen></iframe>
  <div class="video-text-container">
    <div class="video-text-title lead-24">
      Econ 4 Video 1 - Fall 2014
    </div>
    <div class="video-text-desc lead-16">
      <b>Tutor: </b>Alex<br/>
      <b>Content: </b>1. 什么是会计？ 什么是金融市场？ 金融市场简介 2. 会计账户介绍，名称解释，例子分析 3. 复式会计记账方式（Debit=借； credit=贷） 有借必有贷，借贷必相等 4. Differentiate what is permanent account and what is temporary account.
    </div>
  </div>
</div>