<img src="assets/video_cover/econ3_fa14.png" style="width:0px; height:0px; overflow:hidden;">
<div class="video-container pi-section-w pi-shadow-inside pi-section-grey">
  <h2 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-text-center pi-margin-bottom-15">
    Econ 3 Final - Fall 2014
  </h2>

  <iframe width="640" height="360" src="//www.youtube.com/embed/HU-M_J5Tpd8" frameborder="0" allowfullscreen class="video-iframe"></iframe>  <div class="video-text-container">
    <div class="video-text-title lead-24">
      Econ 3 Final - Fall 2014
    </div>
    <div class="video-text-desc lead-16">
      <b>Tutor: </b>Kiki<br/>
      <b>Content: </b>
    </div>
  </div>
</div>