<div class="video-container pi-section-w pi-shadow-inside pi-section-grey">
  <h2 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-text-center pi-margin-bottom-15">
    Econ 4 Video 2 - Fall 2014
  </h2>

  <iframe width="640" height="360" src="//www.youtube.com/embed/h-a6qOmkdl8" frameborder="0" allowfullscreen></iframe>
  <div class="video-text-container">
    <div class="video-text-title lead-24">
      Econ 4 Video 2 - Fall 2014
    </div>
    <div class="video-text-desc lead-16">
      <b>Tutor: </b>Alex<br/>
      <b>Content: </b>1. 会计分录，会计账户复习回顾（请大家务必把会计账户背熟！！记住什么属于asset,什么属于liability）Asset=liabilities+owners’equities 2. 会计transactions,具体做帐方式，案例分析 3. 灵活运用第一节课的知识点（第一个期中考试重要考点cover
    </div>
  </div>
</div>