

<div class="main-block">
  

  <% unless flash[:alert].nil? %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Sorry!</strong> <%= flash[:alert] %>
    </div>
  <% end %>

  <%= form_tag( books_path, :method=>'get', :class=>'form-inline') do %>
    <%= text_field_tag :search, nil, :placeholder=>'ISBN here', :class=>'form-control'%>
    <%= submit_tag("Search", :class=>'btn btn-default')%>
  <% end %>
</div>