<% provide(:background_img, 'index-background') %>

<div class="container">
  <div class="center-row">
    <% unless flash[:alert].nil? %>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>Sorry!</strong> <%= flash[:alert] %>
      </div>
    <% end %>

    <% unless flash[:success].nil? %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <span> Success ! Your offer is saved ! </span>
        <strong style="margin-left: 5px;"><%= flash[:success].html_safe %></strong>
      </div>
    <% end %>

    <div class="container-fluid">
      <%= render 'form'%>
      <div align="center" class="enter-sell-intro-container">
        <b class="enter-sell-intro-text">You may also</b>
      </div>
      <div align="center" class="enter-sell-container">
        <p class="enter-sell-button">
          <b>
            <%= link_to "Sell Your Books", new_school_book_path(@school.name) %>
          </b>
        </p>
      </div>
    </div>
  </div>
</div>
