

<div class="main-block">
  <%= flash[:alert] %>

  <%= form_tag( books_path, :method=>'get', :class=>'form-inline') do %>
    <%= text_field_tag :search, nil, :placeholder=>'ISBN here', :class=>'form-control'%>
    <%= submit_tag("Search", :class=>'btn btn-default')%>
  <% end %>
</div>