<img src="assets/video_cover/math20a_fa14.png" style="width:0px; height:0px; overflow:hidden;">
<div class="video-container pi-section-w pi-shadow-inside pi-section-grey">
  <h2 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-text-center pi-margin-bottom-15">
    Math 20A Midterm 1 - Fall 2014
  </h2>

  <iframe width="640" height="360" src="//www.youtube.com/embed/OF9uxZjmq8Y" frameborder="0" allowfullscreen class="video-iframe"></iframe>
  <div class="video-text-container">
    <div class="video-text-title lead-24">
      Math 20A Midterm 1 - Fall 2014
    </div>
    <div class="video-text-desc lead-16">
      <b>Tutor: </b>张子桐<br/>
      <b>Content: </b>2.1-2.7 . 3.1-3.3 1.什么是limits 2.各种limits  3.3.如何求各种limits（独家解题经验） 4. 什么是导数(Derivative) 5.如何求导(differentiate)
    </div>
  </div>
</div>