<img src="assets/video_cover/psyc1_wi15.png" style="width:0px; height:0px; overflow:hidden;">
<div class="video-container pi-section-w pi-shadow-inside pi-section-grey">
  <h2 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-text-center pi-margin-bottom-15">
    PSYC 1 Final - Winter 2015
  </h2>

<iframe width="640" height="360" src="https://www.youtube.com/embed/Zw4l-_qfs5I" frameborder="0" allowfullscreen class="video-iframe"></iframe>
  <div class="video-text-container">
    <div class="video-text-title lead-24">
      PSYC 1 Final - Winter 2015
    </div>
    <div class="video-text-desc lead-16">
      <b>Tutor: </b>Xing Xiaoqiao<br/>
      <b>Content: </b>
    </div>
  </div>
</div>