<style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}
</style>


<section class="vbox" style="min-height:650px;">
  <section id="main">
    <section class="vbox">
      <div class="container">



        <div class="wrapper">
          <div class="list-group col-lg-3">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#ucsd_math" aria-expanded="true" aria-controls="ucsd_math">
                      UCSD: Mathematics
                    </a>
                    <p class="video-list-small-text-danger">New</p>
                  </h4>
                </div>
                <div id="ucsd_math" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">



                    <div class="panel-group" id="toggle_math_year" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default">
                        <div class="panel-heading video-list-newup" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#toggle_math_year" href="#toggle_math20b_wi15" aria-expanded="false" aria-controls="toggle_math20b_wi15">
                              Math 20B
                            </a>
                            <p class="video-list-small-text">Winter 2015</p>
                            <p class="video-list-small-text-danger">New</p>
                          </h4>
                        </div>
                        <div id="toggle_math20b_wi15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body">
                            <ol class="dd-list" style="">
                              <li class="dd-item">
                                <div class="dd-handle"><a href="math20b_m1_wi15">Math 20B - Midterm1</a></div>
                              </li>
                            </ol>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#toggle_math_year" href="#toggle_math20a_fa14" aria-expanded="false" aria-controls="toggle_math20a_fa14">
                              Math 20A
                            </a>
                            <p class="video-list-small-text">Fall 2014</p>
                          </h4>
                        </div>
                        <div id="toggle_math20a_fa14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body">
                            <ol class="dd-list" style="">
                              <li class="dd-item">
                                <div class="dd-handle"><a href="math20a_m1_fa14">Math 20A - Midterm1</a></div>
                              </li>
                              <li class="dd-item">
                                <div class="dd-handle"><a href="math20a_m2_fa14">Math 20A - Midterm2</a></div>
                              </li>
                              <li class="dd-item">
                                <div class="dd-handle"><a href="math20a_final1_fa14">Math 20A - Final Part 1</a></div>
                              </li>
                              <li class="dd-item">
                                <div class="dd-handle"><a href="math20a_final2_fa14">Math 20A - Final Part 2</a></div>
                              </li>
                            </ol>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#toggle_math_year" href="#toggle_math20c_fa14" aria-expanded="false" aria-controls="toggle_math20c_fa14">
                              Math 20C
                            </a>
                            <p class="video-list-small-text">Fall 2014</p>
                          </h4>
                        </div>
                        <div id="toggle_math20c_fa14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body">
                            <ol class="dd-list" style="">
                              <li class="dd-item">
                                <div class="dd-handle"><a href="math20c_m1_fa14">Math 20C - Midterm1</a></div>
                              </li>
                              <li class="dd-item">
                                <div class="dd-handle"><a href="math20c_m2_fa14">Math 20C - Midterm2</a></div>
                              </li>
                              <li class="dd-item">
                                <div class="dd-handle"><a href="math20c_final_fa14">Math 20C - Final</a></div>
                              </li>
                            </ol>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#toggle_math_year" href="#toggle_math20e_fa14" aria-expanded="false" aria-controls="toggle_math20e_fa14">
                              Math 20E
                            </a>
                            <p class="video-list-small-text">Fall 2014</p>
                          </h4>
                        </div>
                        <div id="toggle_math20e_fa14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body">
                            <ol class="dd-list" style="">
                              <li class="dd-item">
                                <div class="dd-handle"><a href="math20e_m1_fa14">Math 20E - Midterm1</a></div>
                              </li>
                              <li class="dd-item">
                                <div class="dd-handle"><a href="math20e_m2_fa14">Math 20E - Midterm2</a></div>
                              </li>
                              <li class="dd-item">
                                <div class="dd-handle"><a href="math20e_final_fa14">Math 20E - Final</a></div>
                              </li>
                            </ol>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#toggle_math_year" href="#toggle_math20f_fa14" aria-expanded="false" aria-controls="toggle_math20f_fa14">
                              Math 20F
                            </a>
                            <p class="video-list-small-text">Fall 2014</p>
                          </h4>
                        </div>
                        <div id="toggle_math20f_fa14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body">
                            <ol class="dd-list" style="">
                              <li class="dd-item">
                                <div class="dd-handle"><a href="math20f_m1_fa14">Math 20F - Midterm1</a></div>
                              </li>
                              <li class="dd-item">
                                <div class="dd-handle"><a href="math20f_m2_fa14">Math 20F - Midterm2</a></div>
                              </li>
                              <li class="dd-item">
                                <div class="dd-handle"><a href="math20f_final_fa14">Math 20F - Final</a></div>
                              </li>
                            </ol>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ucsd_econ" aria-expanded="false" aria-controls="ucsd_econ">
                      UCSD: Economics
                    </a>
                  </h4>
                </div>
                <div id="ucsd_econ" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <div class="panel-group" id="toggle_econ_year" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#toggle_econ_year" href="#toggle_econ1_fa14" aria-expanded="false" aria-controls="toggle_econ1_fa14">
                              Econ 1
                            </a>
                            <p class="video-list-small-text">Fall 2014</p>
                          </h4>
                        </div>
                        <div id="toggle_econ1_fa14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body">
                            <ol class="dd-list" style="">
                              <li class="dd-item">
                                <div class="dd-handle"><a href="econ1_m1_fa14">Econ 1 - Midterm1</a></div>
                              </li>
                              <li class="dd-item">
                                <div class="dd-handle"><a href="econ1_m2_fa14">Econ 1 - Midterm2</a></div>
                              </li>
                              <li class="dd-item">
                                <div class="dd-handle"><a href="econ1_final_fa14">Econ 1 - Final</a></div>
                              </li>
                            </ol>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#toggle_econ_year" href="#toggle_econ3_fa14" aria-expanded="false" aria-controls="toggle_econ3_fa14">
                              Econ 3
                            </a>
                            <p class="video-list-small-text">Fall 2014</p>
                          </h4>
                        </div>
                        <div id="toggle_econ3_fa14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body">
                            <ol class="dd-list" style="">
                              <li class="dd-item">
                                <div class="dd-handle"><a href="econ3_m1_fa14">Econ 3 - Midterm</a></div>
                              </li>
                              <li class="dd-item">
                                <div class="dd-handle"><a href="econ3_m2_fa14">Econ 3 - Midterm</a></div>
                              </li>
                              <li class="dd-item">
                                <div class="dd-handle"><a href="econ3_final_fa14">Econ 3 - Final</a></div>
                              </li>
                            </ol>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#toggle_econ_year" href="#toggle_econ4_fa14" aria-expanded="false" aria-controls="toggle_econ4_fa14">
                              Econ 4
                            </a>
                            <p class="video-list-small-text">Fall 2014</p>
                          </h4>
                        </div>
                        <div id="toggle_econ4_fa14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body">
                            <ol class="dd-list" style="">
                              <li class="dd-item">
                                <div class="dd-handle"><a href="econ4_1_fa14">Econ 4 - Video1</a></div>
                              </li>
                              <li class="dd-item">
                                <div class="dd-handle"><a href="econ4_2_fa14">Econ 4 - Video2</a></div>
                              </li>
                            </ol>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>




              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ucsd_cse" aria-expanded="false" aria-controls="ucsd_cse">
                      UCSD: Computer Science
                    </a>
                  </h4>
                </div>
                <div id="ucsd_cse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <div class="panel-group" id="toggle_cse_year" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#toggle_cse_year" href="#toggle_cse11_fa14" aria-expanded="false" aria-controls="toggle_cse11_fa14">
                              CSE 11
                            </a>
                            <p class="video-list-small-text">Fall 2014</p>
                          </h4>
                        </div>
                        <div id="toggle_cse11_fa14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body">
                            <ol class="dd-list" style="">
                              <li class="dd-item">
                                <div class="dd-handle"><a href="cse11_quiz2_fa14">CSE 11 - Quiz 2</a></div>
                              </li>
                              <li class="dd-item">
                                <div class="dd-handle"><a href="cse11_quiz3_fa14">CSE 11 - Quiz 3</a></div>
                              </li>
                            </ol>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ucsd_chem" aria-expanded="false" aria-controls="ucsd_chem">
                      UCSD: Chemistry/Biochemistry
                    </a>
                  </h4>
                </div>
                <div id="ucsd_chem" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <div class="panel-group" id="toggle_chem_year" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#toggle_chem_year" href="#toggle_chem6a_fa14" aria-expanded="false" aria-controls="toggle_chem6a_fa14">
                              Chem 6A
                            </a>
                            <p class="video-list-small-text">Fall 2014</p>
                          </h4>
                        </div>
                        <div id="toggle_chem6a_fa14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body">
                            <ol class="dd-list" style="">
                              <li class="dd-item">
                                <div class="dd-handle"><a href="chem6a_m2_fa14">Chem 6A - Midterm2</a></div>
                              </li>
                              <li class="dd-item">
                                <div class="dd-handle"><a href="chem6a_final_fa14">Chem 6A - Final</a></div>
                              </li>
                            </ol>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ucsd_others" aria-expanded="false" aria-controls="ucsd_others">
                      UCSD: Others
                    </a>
                  </h4>
                </div>
                <div id="ucsd_others" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <div class="panel-group" id="toggle_others_year" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#toggle_others_year" href="#toggle_sdcc_fa14" aria-expanded="false" aria-controls="toggle_sdcc_fa14">
SDCC
                            </a>
                            <p class="video-list-small-text">Fall 2014</p>
                          </h4>
                        </div>
                        <div id="toggle_sdcc_fa14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body">
                            <ol class="dd-list" style="">
                              <li class="dd-item">
                                <div class="dd-handle"><a href="sdcc_fa14">SDCC Video1</a></div>
                              </li>
                            </ol>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>





            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>

