
<div class=" center-row" style="height: auto;">
  <ul class="left-tab-container">
    <p class="left-class-intro">Courses</p>
    <li class="left-tab-li"><a class="left-tab" id="econ41button">Econ 4 video 1 会计账户介绍</a></li>
    <li class="left-tab-li"><a class="left-tab" id="econ42button">Econ 4 Video 2: 会计分录方法</a></li>
  </ul>
  <div class="video-big-container">
    <div class="youtube-video" id="youtube-video">
      <div class="video-default-container">
        <div align="right" style="float:left;">
          <p class="video-default-intro-1">We make videos just for exams : )</p>
          <p class="video-default-intro-2">Select a video to learn</p>
        </div>
        <div align="left" style="float:left;">
          <img src="assets/video.png" class="video-default-img"/>
        </div>
      </div>
    </div>
    <div class="video-intro-container">
      <div class="video-intro-block-1">
        <p class="video-intro-1" id="video-intro-class-name"></p>
        <a href="#" class="video-intro-1" id="video-intro-moorgee" data-toggle="tooltip" title="haha"></a>
        <p class="video-intro-1" id="video-intro-affli"></p>
      </div>
    </div>
  </div>
  <div class="course-desc">
    <p class="below-title" id="below-title"></p>
    <p class="below-desc-title" id="below-desc-title">Descritpion</p>
    <p class="below-desc" id="below-desc"></p>
    <p class="below-summ-title" id="below-summ-title">本节内容</p>
    <p class="below-summ" id="below-summ"></p>
  </div>
</div>
