<style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}
</style>

<section class="vbox" style="min-height:650px;">
  <section id="main">
    <section class="vbox">
      <div class="container">
        <div class="wrapper">
          <div class="list-group col-lg-3">
            <div class="dd wrapper" id="nestable1">
              <ol class="dd-list">
                <li class="dd-item">
                  <div class="dd-handle">UCSD: Mathematics - Fall 2014</div>
                  <ol class="dd-list" style="">
                    <li class="dd-item">
                      <div class="dd-handle"><a href="math20a_m1_fa14">Math 20A - Midterm1</a></div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle"><a href="math20a_m2_fa14">Math 20A - Midterm2</a></div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle"><a href="math20a_final1_fa14">Math 20A - Final Part 1</a></div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle"><a href="math20a_final2_fa14">Math 20A - Final Part 2</a></div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle"><a href="math20c_m1_fa14">Math 20C - Midterm1</a></div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle"><a href="math20c_m2_fa14">Math 20C - Midterm2</a></div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle"><a href="math20c_final_fa14">Math 20C - Final</a></div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle"><a href="math20e_m1_fa14">Math 20E - Midterm1</a></div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle"><a href="math20e_m2_fa14">Math 20E - Midterm2</a></div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle"><a href="math20e_final_fa14">Math 20E - Final</a></div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle"><a href="math20f_m1_fa14">Math 20F - Midterm1</a></div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle"><a href="math20f_m2_fa14">Math 20F - Midterm2</a></div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle"><a href="math20f_final_fa14">Math 20F - Final</a></div>
                    </li>
                  </ol>
                </li>
                <li class="dd-item">
                  <div class="dd-handle">UCSD: Economics - Fall 2014</div>
                  <ol class="dd-list" style="">
                    <li class="dd-item">
                      <div class="dd-handle"><a href="econ1_m1_fa14">Econ 1 - Midterm1</a></div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle"><a href="econ1_m2_fa14">Econ 1 - Midterm2</a></div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle"><a href="econ1_final_fa14">Econ 1 - Final</a></div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle"><a href="econ3_m1_fa14">Econ 3 - Midterm</a></div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle"><a href="econ3_m2_fa14">Econ 3 - Midterm</a></div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle"><a href="econ3_final_fa14">Econ 3 - Final</a></div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle"><a href="econ4_1_fa14">Econ 4 - Video1</a></div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle"><a href="econ4_2_fa14">Econ 4 - Video2</a></div>
                    </li>
                  </ol>
                </li>
                <li class="dd-item">
                  <div class="dd-handle">UCSD: Computer Science - Fall 2014</div>
                  <ol class="dd-list" style="">
                    <li class="dd-item">
                      <div class="dd-handle"><a href="cse11_quiz2_fa14">CSE 11 - Quiz 2</a></div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle"><a href="cse11_quiz3_fa14">CSE 11 - Quiz 3</a></div>
                    </li>
                  </ol>
                </li>
                <li class="dd-item">
                  <div class="dd-handle">UCSD: Chemistry - Fall 2014</div>
                  <ol class="dd-list" style="">
                    <li class="dd-item">
                      <div class="dd-handle"><a href="chem6a_m2_fa14">Chem 6A - Midterm2</a></div>
                    </li>
                    <li class="dd-item">
                      <div class="dd-handle"><a href="chem6a_final_fa14">Chem 6A - Final</a></div>
                    </li>
                  </ol>
                </li>
                <li class="dd-item">
                  <div class="dd-handle">UCSD: Others</div>
                  <ol class="dd-list" style="">
                    <li class="dd-item">
                      <div class="dd-handle"><a href="sdcc_fa14">SDCC Video1</a></div>
                    </li>
                  </ol>
                </li>
              </ol>
            </div>
          </div>
        </div> <!-- wrapper -->
      </div>
    </section>
  </section>
</section> <!-- vbox -->
