<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-sm-4">
      <%= image_tag b.pic_url, :class=>'book-img'%>
    </div>
    <div class="col-sm-8">
      <h4>Title: <%= b.title %></h4>
      <h4>Author: <%= b.author %></h4>
      <h4> ISBN: <%= b.isbn %></h4>
      <br>
    </div>
  </div>
</div>
  

