<div class="panel panel-default book-card">
  <div class="col-xs-4 book-img-container">
    <%= image_tag b.pic_url, :class=>'book-img'%>
  </div>
  <div class="col-xs-8 book-info-container">
    <p class="book-title"><%= b.title %></p>
    <p class="book-author">By <%= b.author %></p>
    <br>
  </div>
</div>
<div class="bookprice-area" style="display: none;">
  <%= render 'pricelist', :b => b%>
</div>

