<% prices.order(:price).each do |p| %>
  <div class="panel panel-default price-card">
    <div class="panel-heading">
      <span class="book-condition">Condition: <%= p.condition.titleize%></span>
      <span class="book-price">$ <%= p.price%></span> 
      <p class="book-pricetime">Posted <%=time_ago_in_words(p.created_at)%> ago </p>
    </div>
    <div class="panel-body">
      <p>Seller's contact: <%= p.contact%></p>
    </div>
  </div>
<% end %>