<div class="container">
  <div class="row booklist">
    <div class="book-center-block">
      <div class="col-md-6 bookinfo-row">
        <% even_arr(@books.count-1).each do |f|%>
          <div class="single-book-block">
            <%= render 'item', :b=>@books[f]%>
          </div>
        <% end %>
      </div>
      <div class="col-md-6 bookinfo-row">
        <% odd_arr(@books.count-1).each do |f|%>
          <div class="single-book-block">
            <%= render 'item', :b=>@books[f]%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>