<div class="container" style="margin-top: 100px;">
  <div class="week-inspector"></div>
  <div class="month-inspector"></div>
  <div class="season-inspector"></div>
  <%= render 'data', :season => @season_linear, :month => @month_linear, :week=> @week_linear, :week_time => @week_time %>
</div>