<div class="container pi-section-w pi-shadow-inside-top pi-section-grey">
  <div class="pi-texture" style="background: url(../assets/hexagon.png) repeat"></div>
   <h4 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-text-center pi-margin-bottom-15">An confirmation email has been sent to your mailbox, please check your mailbox and complete your order. Thank you!</h4>

</div>