<div class="container pi-section-w pi-shadow-inside-top pi-section-grey">
  <div class="pi-texture" style="background: url(../assets/hexagon.png) repeat"></div>
  <div class="col-sm-6 tutor-desc-container">
    <img class="tutor-desc-icon" src="../assets/info.png"/>
    <h3 class="lead-26">DESCRIPTION</h3>
    <p class="lead-16">Struggle with the homework? Tired of getting low grade on the exams? Do not panic! Take a deep breath and Moorgoo tutor is here for help. Order the tutor on the subjects that you would like to learn on the website or through the app, schedule the free session for the first time and settle the location you want to meet, you will be on the right track. Moorgoo tutors will do their best to help you to accomplish your target and guide you toward the victory.

</p>
  </div>
  <div class="col-sm-6 moorgoo-form-container" style="padding: 20px">
    <h2 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-text-center pi-margin-bottom-15">
      Meet a tutor
    </h2>
    <p class="lead-20 pi-text-center" style="">--Available soon--</p>
    <%= render 'form', :request => @request %>
  </div>
</div>