<div class="container pi-section-w pi-shadow-inside-top pi-section-grey">
  <div class="pi-texture" style="background: url(../assets/hexagon.png) repeat"></div>
  <div class="col-sm-6 tutor-desc-container">
    <img class="tutor-desc-icon" src="../assets/info.png"/>
    <h3 class="lead-26">DESCRIPTION</h3>
    <p class="lead-16" style="text-align:left;">We are hiring! If you are good at college courses, if you want to leave yourself a great life experience and if you want to enjoy the beautiful sunshine in California; don’t hesitate to apply to be the Moorgoo tutors. <br/><br/>
We are looking for people with qualities:<br/>
1.  Responsible and self-oriented <br/>
2.  Knowledgeable and specialized in the courses he or she would like to apply<br/>
3.  Amiable and dedicated with great passion. <br/>
4.  Follow the instructions and show up on time. <br/>
</p>
  </div>
  <div class="col-sm-6 moorgoo-form-container" style="padding: 20px">
    <h2 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-text-center pi-margin-bottom-15">
      Meet a tutor
    </h2>
    <p class="lead-20 pi-text-center" style="">--Available soon--</p>
    <%= render 'form', :request => @request %>
  </div>
</div>