/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
 
@import "bootstrap-sprockets";
@import "bootstrap";

::selection{
	background:#34495E !important;
	color:#ECF0F1 !important;
}

.pi-border-bottom-strong-base{
  border-bottom:1px solid #2e343a !important;
}


.pi-section-white .pi-border-top:after, .pi-section-white .pi-border-left:after{
  background:#34495E !important;
}

.pi-img-overlay{
  background:rgba(52, 73, 94, 0.8) !important;
}

.pi-img-border, .pi-img-round, .pi-img-border > img{
  border-radius:10% !important;
}
