/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

/* application.html.erb */
h1, h2, h3, h4, h5, p{
  font-family: 'Open Sans', sans-serif;
}

.input_error_container{
  height: 20px;
}
div.input_error_notice {
  font-size: 14px;
  height:20px;
  color: red;
  font-style: italic;
}
.center-row {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 140px;
}

.info_form-auxChoice { 
  font-size: 14px;
  color: black;
  margin-top: 5px;
}

.header_above_form {
  padding-bottom: 30px;
}

@media (max-width: 767px){
  .shadowed-form-pane {
    width: 300px;
    background-color: rgba(51, 51, 51, 0.2980392);
    position: relative;
    display: inline-block;
    padding-bottom: 20px
  }
  .form_input_field {
    width:240px;
    height:40px;
    margin-top:5px;
    display: block;
  }
  .form_input_button {
    width:240px;
    height:40px;
    margin-top:10px;
    display: inline;
  }
}

@media (min-width: 768px) {
  .shadowed-form-pane {
    width: 350px;
    background-color: rgba(51, 51, 51, 0.2980392);
    position: relative;
    display: inline-block;
    padding-bottom: 20px
  }
  .form_input_field {
    width:300px;
    height:40px;
    margin-top:5px;
    display: block;
  }
  .form_input_button {
    width:300px;
    height:40px;
    margin-top:10px;
    display: inline;
  }
}


