/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

/* application.html.erb */
h1, h2, h3, h4, h5, p{
  font-family: 'Open Sans', sans-serif;
}

.index-background {
  background: url('empty_book.jpg');
  margin: 0 0 0 0;
  opacity: 0.8;
  background-size:cover;
}

.input_error_container{
  height: 20px;
}
div.input_error_notice {
  font-size: 14px;
  height:20px;
  color: red;
  font-style: italic;
}
.center-row {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 170px;
}




/* index.html.erb */

.info_form-auxChoice { 
  font-size: 14px;
  color: grey;
  margin-top: 5px;
}

.header_above_form {
  padding-bottom: 30px;
}

.enter-sell-intro-container {
  margin-top: 50px;
}

.enter-sell-intro-text {
  font-size: 22px;
  color: #2C3E50;
  cursor: none;

  transition-duration: 0.2s;
}

.enter-sell-container {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #222222;
  width: 50%;
  margin-left: 25%;
}

.enter-sell-button {
  width: 250px;
  height: 40px;
  margin-top: 20px;
  padding: 10px 20px 30px 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #ECF0F1;
  background-color: #E74C3C;
  cursor: pointer;
  color: #ECF0F1;

  transition-duration: 1s;
  transition-delay: 0s;
}

.enter-sell-button:hover {
  background-color: #ECF0F1;
  color: #2C3E50;
}

@media (max-width: 767px){
  .form_input_field {
    width:250px;
    height:40px;
    margin-top:5px;
  }
  .form_input_button {
    width:250px;
    height:40px;
    margin-top:10px;
  }
  .book-search-icon{
    top: -28px;
    left:105px;
  }
}

@media (min-width: 768px) {
  .shadowed-form-pane {
    width: 350px;
    height: 160px;
    background-color: rgba(51, 51, 51, 0.2980392);
    position: relative;
  }
  .form_input_field {
    width:300px;
    height:40px;
    margin-top:5px;
  }
  .form_input_button {
    width:300px;
    height:40px;
    margin-top:10px;
  }
  .book-search-icon{
    top: -28px;
    left:130px;
  }
}

/* header; navbar */
.shadowed_header {
  border-bottom: 0px;
  box-shadow: 0 0 1.5em #000000;
}

.navbar-default {
  background-color: rgba(51, 51, 51, 0.0980392);
}

.container-fluid {
  z-index: 500px;
}

.right-link-cluster {
  float: right;
  margin: auto;
}

.right-link {
  float: left;
  display: block;
  position: relative;
  padding: 25px 40px 20px 40px;
  width: 120px;
  cursor: pointer;
  color: #2C3E50;


  transition-property: color;
  transition-duration: 1s;
  transition-delay:0s;
}

.right-link:hover {
  color: #7F8C8D;
}

.right-link-img {
  float:center;
  width:40px;
}

.right-link-label {
  font-size: 14px;
  display: block;
  text-align:center;
  cursor: pointer;
}

a:-webkit-any-link {
  text-decoration: none;
}

.my-dropdown-trigger {
  /* This class is also used in home.js */

  transition-property: background-color;
  transition-duration: 1s;
  transition-delay: 0s;
}

.my-dropdown-trigger:hover {
  background-color: #222222;
}

.my-dropdown-menu {
  display:none;
  list-style: none;
  position: absolute;
  right: 0;
  margin-top:20px;
  min-width:160px;
}

.rignt-link-dropdown-entry {
  padding: 10px 18px 10px 18px;
  background-color: #555555;
  color: #7F8C8D;

  transition-propterty: color;
  transition-duration: 1s;
  transition-delay: 0s;
}

.rignt-link-dropdown-entry:hover {
  color: #555555;
}

.right-link-dropdown-a {
  display: block;
  float:center;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  white-space: nowrap;
}

.right-link-label-a {
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}


.arrow-container {
  position: fixed;
  top:0;
  z-index:499px;
  right: 100px;

  transition-property: top;
  transition-duration: 0.5s;
  transition-delay:0s;
}

.arrow-top {
  width: 80px;
  height: 100px;
  background: #ea6153;

  transition-property: background;
  transition-duration: 0.5s;
  transition-delay:0s;
}

.arrow-bottom {
  width: 0; 
  height: 0; 
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 20px solid #ea6153;

  transition-property: border-top;
  transition-duration: 0.5s;
  transition-delay:0s;
}

.arrow-bottom-text {
  position:relative;
  bottom: 35px;
  right: 16px;
  font-size: 18px;
  color: #f2a097;
}
/*
.arrow-container:hover {
  top: 40px;
  .arrow-top {
    background: #e74c3c;
  }
  .arrow-bottom {
    border-top: 20px solid #e74c3c;
  }
}
*/







/* No Longer Used: Tabs */
/* From css3pie.com/demos/tabs/ */
/*.tabBox .tabs {
    margin: 0;
    overflow: hidden;
    margin-bottom: -1px;
}

.tabBox .tabs li {
    display: inline-block;
    float: center;
    list-style: none;
    margin: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #FFF;
}

.tabBox .tabs li.active {
    z-index: 3;
}

.tabBox .content {
    clear: left;
    position: relative;
    z-index: 2;
    padding: 2em 1em;
    border: 1px solid #CCC;
    background: #FFF;
    border-radius: 3px;
 -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #CCC 0 0 .25em;
    -moz-box-shadow: #CCC 0 0 .25em;
    box-shadow: 0 0 1.0em #505050;
        behavior: url(/pie/PIE.htc);
}

.tabs > li.active > img,
.tabs > li.active > img:hover,
.tabs > li.active > img:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.tabs > li.active,
.tabs > li.active:hover,
.tabs > li.active:focus {
  box-shadow: 0 0 1.0em #505050;
  margin-bottom: -5px;
}


@media (max-width: 767px){
  .tabs > li > img {
    width:80px;
  }

  .tabs li {
    width:80px;
    height: 80px;
  }
  .left_big_icon {
    display: none;
  }
  .content {
    width:300px;
  }
  .form_input_field {
    width:250px;
    height:40px;
    margin-top:5px;
  }
  .form_input_button {
    width:250px;
    height:40px;
    margin-top:10px;
  }
}

@media (min-width: 768px) {
  .tabs > li > img {
    width:80px;
  }

  .tabs li {
    width:80px;
    height: 80px;
  }
  .left_big_icon img {
     width:120px;
     float: right;
  }
  .content {
    width:400px;
  }
  .form_input_field {
    width:300px;
    height:40px;
    margin-top:5px;
  }
  .form_input_button {
    width:300px;
    height:40px;
    margin-top:10px;
  }
}

.tabs {
  padding-top:20px;
}

*/
