// Place all the styles related to the bookprices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.singlep {
	font-size: 22px;
	padding: 35px 0 0 0;

	@media (max-width: 600px) {
    font-size: 15px;
	padding: 0 0 0 0;
  }
}