
.book-progress{
  width: 400px;
}
.booklist{
  margin-top: 50px;
  padding: 50px;
  @media(max-width: 500px){
    padding: 20px;
  }
  .book-center-block{
    width: 945px;
    margin: 0 auto;
    @media( max-width: 991px){
      width: 100%;
    }
    .bookinfo-row{
      padding: 0 0;
      .price-card{
        font-size: 16px;
        width: 440px;
        @media(max-width: 500px){
          width: 360px;
        }
        margin: 0px auto 3px auto;
        .panel-heading{
          background-color: #fbfbfb;
          border-color: white;
          padding-bottom: 0px;
          .book-price{
            float: right;
            color: #1ABC9C;
            font-style: italic;
            font-size: 18px;
          }
          .book-pricetime{
            font-size: 12px;
            font-weight: 300;
            color: #B8B4B4;
            font-style: italic;
          }
          .book-condition{
            color: #555;
            font-size: 20px;
            text-align: right;
          }
        }
        .panel-body{
          background-color: #fbfbfb;
          padding-top: 0px;
          padding-bottom: 5px;
        }
      }
    }
  }
}
.book-card{
  width: 440px;
  height: 200px;
  text-align: left;
  @media( max-width: 500px){
    width: 360px;
    height: 170px;
  }
  padding: 0px;
  margin: 30px auto 5px auto;
  box-shadow: 1px 1px 4px #aeaeae;
  border-width: 0px;
  &:hover{
    box-shadow: 1px 1px 6px #aeaeae;
  }
  .book-img-container{
    height: 100%;
    padding: 0px;
    .book-img{
      height: 100%;
      width: 138px;
      @media(max-width: 500px){
        width: 115px;
      }
    }
  }
  .book-info-container{
    padding: 10px;
    .book-title{
      font-size: 23px;
      color: #555;
    }
    .book-author{
      font-size: 18px;
      font-weight: 400;
      color: #888;
      font-style: italic;
    }
    .book-isbn{
      font-size: 16px;
      font-weight: 400;
      color: #555;
    }
    .icon {
      width: 13px;
    }
    span {
      font-size: 15px;
    }
  }
}
