.data-bar{
  background-color: teal;
  margin-right: 2px;
  display: inline-block;
  width: 20px;
}

.axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.dline{
  fill: none;
  stroke: rgba(0, 100, 100, 0.5);
  stroke-width: 3;
}