
/* _form.html.erb  */

@media (max-width: 767px){
  .book-search-icon{
    top: -28px;
    left:105px;
  }
}

@media (min-width: 768px) {
  .book-search-icon{
    top: -28px;
    left:130px;
  }
}


/* home.html.erb */

.index-background {
  background: url('empty_book.jpg');
  margin: 0 0 0 0;
  opacity: 0.8;
  background-size:cover;
}

.enter-sell-intro-container {
  margin-top: 50px;
}

.enter-sell-intro-text {
  font-size: 22px;
  color: #2C3E50;
  cursor: none;

  transition-duration: 0.2s;
}

.enter-sell-container {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #222222;
  margin-left: 15%;
  margin-right: 15%;
}

@media (max-width: 767px) {
  .enter-sell-button {
      display: block;
      margin-top: 20px;
      max-width: 250px;
      padding: 10px 10px 10px 10px;
      border-style: solid;
      border-width: 3px;
      border-color: #ECF0F1;
      background-color: #E74C3C;
      cursor: pointer;
      color: #ECF0F1;
      font-weight: 500;

      transition-duration: 1s;
  }
}

@media (min-width: 768px) {
  .enter-sell-button {
      display: block;
      margin-top: 20px;
      max-width: 250px;
      padding: 10px 10px 10px 10px;
      border-style: solid;
      border-width: 3px;
      border-color: #ECF0F1;
      background-color: #E74C3C;
      cursor: pointer;
      color: #ECF0F1;
      font-weight: 500;

      transition-duration: 1s;
  }
}

.enter-sell-button:hover {
  text-decoration: none;
  background-color: #ECF0F1;
  color: #2C3E50;
}
