// Place all the styles related to the tutor_requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tutor-desc-container{
  text-align:center;
  padding-top:5%;
}

.tutor-desc-icon{
  width:80px;
  margin:0 auto;
}
