// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dd-handle > a{
  color:#575757;
  text-decoration:none;
}

.dd-handle:hover > a{
  text-decoration:none;
}

.dd-handle:hover{
  background:#f5f5f5 !important;
}

.video-container{
  min-height:650px;
  text-align:center;
  margin:0 auto;
}

.video-text-container{
  padding-top:30px;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color:#34495E;
  width:50%;
  margin:0 auto;
}

.video-text-desc{
  text-align: left
}

.video-list-small-text{
  color:#95A5A6 !important;
  font-size:14px !important;
  font-weight: 200;
  display:inline;
  margin-left:10px;
}

.video-list-newup{
  background:#A3FEBA !important;
}

.panel-default > .panel-heading{
  background:#F9FEFF !important;
  color:#34495E !important;
  transition-duration:0.5s;
}

.panel-default > .panel-heading:hover{
  background:#ECF0F1 !important;
}

.video-list-small-text-danger{
  color:#E74C3C !important;
  font-size:14px !important;
  font-weight: 200;
  display:inline;
  margin-left:10px;
}

.video-iframe{
  max-width:640px;
}

@media(max-width:767px){
  .video-iframe{
    width: 98%;
    margin-left:1%;
    margin-right:1%;
  }
}

@media(min-width:768px){
  .video-iframe{
    width: 80%;
    margin-left:10%;
    margin-right:10%;
  }
}