// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dd-handle > a{
  color:#575757;
  text-decoration:none;
}

.dd-handle:hover > a{
  text-decoration:none;
}

.dd-handle:hover{
  background:#f5f5f5 !important;
}

.video-container{
  min-height:650px;
  text-align:center;
  margin:0 auto;
}

.video-text-container{
  padding-top:30px;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color:#34495E;
  width:50%;
  margin:0 auto;
}

.video-text-desc{
  text-align: left
}